{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% set easyCheckoutVariables = page.extensions.easyCheckoutVariables %}
{% set isEmbeddedCheckout = easyCheckoutVariables.isEmbeddedCheckout %}

{% block page_checkout_aside %}
    {{ parent() }}

    {% if isEmbeddedCheckout %}
        {% set options = {
            checkoutKey: easyCheckoutVariables.checkoutKey,
            paymentId: easyCheckoutVariables.paymentId,
            containerId: 'dibs-complete-checkout',
            language: easyCheckoutVariables.language,
            csrfToken: sw_csrf('frontend.checkout.finish.order', {"mode": "token"}),
            placeOrderUrl: easyCheckoutVariables.placeOrderUrl
        } %}

        {% set confirmSubmitOptions = {
            blockedOrder: page.cart.errors.blockOrder,
            isEmbdeddedCheckout: isEmbeddedCheckout
        } %}

        <script src='{{ easyCheckoutVariables.easyCheckoutJs }}' defer></script>

        <template
            data-embedded-plugin
            data-embedded-plugin-options='{{ options|json_encode }}'
            data-confirm-form-plugin
            data-confirm-form-plugin-options='{{ confirmSubmitOptions|json_encode }}'
        >
        </template>

        <div id="dibs-checkout-embedded">
            <div id="dibs-complete-checkout"></div>
        </div>
    {% endif %}
{% endblock %}
