{% block sw_order_detail_base_secondary_info_payment %}
    {% parent %}
    {% block sw_order_detail_base_secondary_info_transaction_id %}
        <div v-if="getTransactionId(currentOrder) != false">
            <dt>{{ 'Nets Transaction id:' }}</dt>
            <dd>{{ getTransactionId(currentOrder) }}</dd>
            <dt>{{ 'Transaction Actions:' }}</dt>
        </div>
    {% endblock %}

    <template v-if="getTransactionId(currentOrder) != false">
        <div class="capture-controls" v-if="amountToBeCaptured > 0">
            <input type="text" v-model="amountToBeCaptured">


            <sw-button-process @click="capture()" :disabled="false">
                Capture
            </sw-button-process>
        </div>

    </template>
{% endblock %}
