
{% block sw_order_detail_base_secondary_info_payment %}
    {% parent %}

	  {% block sw_order_detail_base_secondary_info_payment_method %}
        <div v-if="paymentMethod != null">
            <dt>Payment via </dt>
            <dd>{{ paymentMethod }}</dd>
        </div>
    {% endblock %}
	
	
    {% block sw_order_detail_base_secondary_info_transaction_id %}
        <div v-if="getTransactionId(currentOrder) != null">
            <dt>{{ $tc('nets-checkout.payment-id') }}</dt>
            <dd>{{ getTransactionId(currentOrder) }}</dd>
        </div>
    {% endblock %}

    <template v-if="getTransactionId(currentOrder) != null">
        <div v-if="canCapture()">
            {{ $tc('nets-checkout.api-actions') }}
        </div>

        <div class="capture-controls" v-if="canCapture()">
            <sw-number-field numberType="float" :step="null" :min="null" :max="null"  v-model="amountAvailableForCapturing" :digits="2" :allowEmpty="false">
            </sw-number-field>
            <sw-button-process @click="capture(getTransactionId(currentOrder))" :isLoading="captureButtonLoading">
                {{ $tc('nets-checkout.capture.buttonTitle') }}
            </sw-button-process>
        </div>

        <div class="refund-controls" v-if="canRefund()">
            <sw-number-field numberType="float" :step="null" :min="null" :max="null"  v-model="amountAvailableForRefunding" :digits="2" :allowEmpty="false">
            </sw-number-field>
            <sw-button-process @click="refund(getTransactionId(currentOrder))" :isLoading="refundButtonLoading">
                {{ $tc('nets-checkout.refund.buttonTitle') }}
            </sw-button-process>
        </div>
    </template>

{% endblock %}
