@media (min-width: 768px) {
.offset-md-6, .is-act-confirmpage .checkout .checkout-aside {
    margin-left: 15%;
}
}

.checkout .checkout-container .checkout-aside-container {
margin-left: 50%;
}

.checkout .checkout-container > div:first-child {
padding-bottom: 0px !important;
}