.checkout .checkout-container .checkout-aside .checkout-summary {
    margin-left: 15%;
}
 
#dibs-checkout-embedded {
    margin-left: 18%;
}

@media (min-width: 768px) {
.is-act-confirmpage .checkout .checkout-aside {
    margin-left: 12% !important;
}
}