.nexi-api-test-container {
  display: flex !important;
  align-items: center;
  gap: 16px;

  padding: 0 16px !important;
  margin-bottom: 20px;

  min-height: 44px;
  height: 44px;

  .nexi-api-test-switch-wrapper {
    display: flex;
    align-items: center;
    flex: 1;

    :deep(.sw-field--switch) {
      margin-bottom: 0 !important;
      width: auto;
    }

    .nexi-help-icon {
      margin-left: 8px;
      margin-top: 2px;

      :deep(.sw-help-text__icon) {
        width: 16px;
        height: 16px;
      }
    }
  }
  .nexi-api-test-button-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .mt-button {
      margin: 0;
    }
  }
}

.sw-system-config {
  .nexi-important-message {
    color: red;
  }
}
