.nexi-checkout-credentials-test {
  $root: &;

  border: 1px solid #d1d9e0;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;

  #{$root}__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #{$root}__switch-group {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .sw-field.sw-field--switch.nexi-checkout-credentials-test__field {
      margin: 0;

      :deep(.sw-field__label) {
        margin-bottom: 0;
      }

      :deep(.mt-switch) {
        margin-bottom: 0;
      }
    }

    #{$root}__help-icon {
      margin-left: 8px;
      display: inline-flex;
      align-items: center;
      line-height: 0;

      :deep(.sw-help-text__icon) {
        margin: 0;
        top: 0;
      }
    }
  }

  #{$root}__actions {
    display: flex;
    align-items: center;

    .mt-button {
      margin: 0;
    }
  }
}

.sw-system-config {
  .nexi-important-message {
    color: red;
  }
}