<div v-if="showCheckoutUrlInfo" class="nexi-important-message">
    <strong>Important: U are NOT using default checkout url.</strong>
</div>
<div class="nexi-checkout-credentials-test">
    <div class="nexi-checkout-credentials-test__container">
        <div class="nexi-checkout-credentials-test__switch-group">
            <sw-switch-field
                    class="nexi-checkout-credentials-test__field"
                    :label="$tc('nexi-checkout-credentials-test.liveModeLabel')"
                    v-model:value="liveMode"
            />

            <sw-help-text
                    :text="$tc('nexi-checkout-credentials-test.liveModeHelpText')"
                    class="nexi-checkout-credentials-test__help-icon"
            />
        </div>

        <div class="nexi-checkout-credentials-test__actions">
            <mt-button
                    variant="secondary"
                    size="small"
                    :isLoading="isTestingCredentials"
                    :disabled="isTestingCredentials"
                    @click="testCredentials"
            >
                {{ $tc('nexi-checkout-credentials-test.button') }}
            </mt-button>
        </div>
    </div>
</div>