<div v-if="showCheckoutUrlInfo" class="nexi-important-message">
    <strong>Important: U are NOT using default checkout url.</strong>
</div>
<div class="nexi-api-test-container mt-switch__block--bordered">
    <div class="nexi-api-test-switch-wrapper">
        <sw-switch-field
                :label="$tc('nexi-checkout-credentials-test.liveModeLabel')"
                v-model:value="liveMode"
        >
        </sw-switch-field>

        <sw-help-text
                :text="$tc('nexi-checkout-credentials-test.liveModeHelpText')"
                class="nexi-help-icon"
        />
    </div>

    <div class="nexi-api-test-button-wrapper">
        <mt-button
                variant="secondary"
                size="small"
                :isLoading="isTestingCredentials"
                :disabled="isTestingCredentials"
                @click="testCredentials"
        >
            {{ $tc('nexi-checkout-credentials-test.button') }}
        </mt-button>
    </div>
</div>