// Variables
$column-gap: 2rem;
$font-size: 14px;
$border-color: #d1d9e0;

// Mixin for Shopware breakpoint
@mixin respond-to($breakpoint) {
  @if $breakpoint == lg {
    @media (min-width: 961px) { @content; }
  }
}

.nexinets-status-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $column-gap;
  margin-bottom: 2rem;
  margin-top: 0.6rem;

  @include respond-to(lg) {
    margin-top: 0;
  }
}

.nexinets-status-text {
  font-size: $font-size;
  margin-bottom: 0.4rem;
}

.full-width {
  width: 100%;
}

.payment-history-link {
  align-self: center;
  margin-top: 1rem;
}

.nexinets-payment-container {
  column-gap: $column-gap;
  padding-top: 2.5rem;
  border-top: 1px $border-color solid;
  border-bottom: 1px $border-color solid;
}

.nexinets-action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.95rem;
  flex-wrap: wrap;

  @include respond-to(lg) {
    margin-top: 1.85rem;
  }
}